<div
  class="relative mx-auto mt-12 flex w-max items-center justify-center gap-8 md:gap-12 "
>
  <ng-container *ngFor="let option of options; let i = index">
    <span
      #underline
      class="absolute bottom-0 left-0 h-8 rounded-full rou bg-White3 transition-all z-5"
      [ngStyle]="styleLine"
    ></span>

    <p
      [attr.id]="option"
      #textElement
      class="relative mb-1 cursor-pointer text-Gray text-base z-10"
      [ngClass]="{
        '!text-black dark:text-white': setFocus() === option
      }"
      (click)="changeFocus(option)"
      (keydown)="changeFocus(option)"
      tabindex="-1"
    >
      {{ option }}
    </p>
  </ng-container>
</div>
