<section class="h-full flex flex-col">
  <header class="flex justify-between items-center px-5 gap-2 pb-5 border-b border-solid border-White8">
    <h1 class="text-white text-xl font-semibold"> Transação </h1>

    <i icon="xmark" class="text-white p-1 cursor-pointer" (click)="chance(false)"
    (keydown)="chance(false)"
    tabindex="-1"></i>
  </header>


  <mat-tab-group
    [selectedIndex]="selected.value"
    (selectedIndexChange)="setSelected($event)"
    [color]="selected.value === 0 ? 'primary' : 'warn'"
    [ngClass]="selected.value === 0 ? 'group-primary' : 'group-warn'"
  >
    <mat-tab label="Entrada"></mat-tab>
    <mat-tab label="Saída" class="red-color"></mat-tab>
  </mat-tab-group>

  <form [formGroup]="form" (ngSubmit)="handleFormSubmit()" class="my-4 px-5 flex flex-col gap-4 max-h-popup overflow-y-auto">
    <div class="form-input">
      <label for="description"> Descrição </label>
      <div class="input_icon">
        <input
          type="text"
          id="description"
          placeholder="Descrição"
          formControlName="description"
        />
      </div>
    </div>

    @if(!data?.edit_all){
      <div class="form-input">
        <label for="value"> Valor </label>
        <div class="input_icon">
          <input
            type="text"
            id="value"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            placeholder="R$ 0,00"
            formControlName="value_installment"
          />
        </div>
      </div>
    }
    @else{
      <div class="form-input">
        <label for="value"> Valor </label>
        <div class="input_icon">
          <input
            type="text"
            id="value"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            placeholder="R$ 0,00"
            formControlName="value"
          />
        </div>
      </div>
    }

    <div class="form-input">
      <label for="category"> Categoria </label>
      <mat-select id="category" formControlName="category">
        @for (category of categories(); track $index) {
          <mat-option [value]="category.id">{{ category.name }}</mat-option>
        }
      </mat-select>
    </div>

    <div class="form-input">
      <label for="account"> Conta </label>
      <mat-select id="account" formControlName="account">
        @for (account of accounts(); track $index) {
          <mat-option [value]="account.id">{{ account.name }}</mat-option>
        }
      </mat-select>
    </div>

    <div class="form-input form-calendar">
      <label for="expiry_date"> Data </label>
      <input
        type="date"
        id="expiry_date"
        placeholder="Data"
        formControlName="expiry_date"
      />
      <div class="custom-calendar-icon">
        <i icon="calendar_days"></i>
      </div>
    </div>

    <!-- @if(data?.finance?.id){
      <mat-slide-toggle formControlName="edit_all" class="!text-white"> Editar todas as variações </mat-slide-toggle>
    } -->

    @if(!data?.finance?.id){
      <mat-tab-group [selectedIndex]="recurrence.value" (selectedIndexChange)="setRecurrence($event)">
        <mat-tab label="Único"></mat-tab>

        <mat-tab label="Recorrente">
          <div class="form-input mt-4">
            <label for="recurrence"> Recorrência </label>
            <mat-select id="recurrence" formControlName="recurrence">
              <mat-option value="WEEKLY"> Semanal </mat-option>
              <mat-option value="MONTHLY"> Mensal </mat-option>
              <mat-option value="ANNUAL"> Anual </mat-option>
            </mat-select>
          </div>
        </mat-tab>

        <mat-tab label="Parcelada">
          <div class="form-input mt-4">
            <label for="installments"> Parcelas </label>
            <div class="input_icon">
              <input
                type="number"
                id="installments"
                placeholder="Parcelas"
                formControlName="installments"
              />
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    }
  </form>

  <div class="buttons mt-auto px-5">
    <button mat-flat-button type="button" color="accent" (click)="chance(false)"> Cancelar </button>
    <button mat-flat-button type="submit" (click)="handleFormSubmit()" color="primary" [disabled]="form.invalid">
      {{'Salvar'}}
    </button>
  </div>

</section>
