<main>
  <div class="container mx-auto">
    <header class="w-full flex justify-between flex-wrap items-center gap-4">
      <h1 class="w-full sm:w-max text-2xl font-bold text-label dark:text-dark-label"> Overview </h1>

      <div class="buttons justify-between sm:justify-end w-full sm:w-max flex-row-reverse sm:flex-row">
        <form [formGroup]="form" class="form-input max-w-52">
          <div class="form-calendar">
            <input
              type="month"
              id="date"
              placeholder="Data"
              formControlName="date"
            />
            <div class="custom-calendar-icon">
              <i icon="calendar_days"></i>
            </div>
          </div>
        </form>

        <button mat-button class="!min-w-max w-max"> Reatório IA <i icon="file_lines"></i> </button>
      </div>
    </header>

    <section class="w-full mt-4 flex-wrap gap-3 grid grid-cols-10">

      <!-- CARD SALDO -->
      <app-card-balance
        class="col-span-10 md:col-span-7 order-1 lg:order-1 lg:col-span-7"
        [loading]="loading"
        [dashboard]="dashboard"
        (eventDash)="handleEventDash($event)"
      />

        <!-- CARD TRANSATION -->
      <app-card-transation
        [form]="form"
        class="col-span-10 sm:col-span-5 md:col-span-4 order-4 sm:order-3 md:order-5 lg:order-2 lg:col-span-3 row-span-3"
      />

        <!-- CARD INVESTMENT -->
      <app-card-monthly-balance
        class="col-span-5 hidden sm:block md:col-span-3 order-2 md:order-2 lg:order-3 lg:col-span-3"
        [loading]="loading"
        [dashboard]="dashboard"
      />

        <!-- CARD REVENUE -->
      <app-card-revenue
        class="col-span-5 md:col-span-3 order-2 sm:order-4 md:order-3 lg:order-4 lg:col-span-2"
        [loading]="loading"
        [dashboard]="dashboard"
      />

        <!-- CARD EXPENSES -->
      <app-card-expenses
        class="col-span-5 md:col-span-3 order-3 sm:order-5 md:order-4 lg:order-5 lg:col-span-2"
        [loading]="loading"
        [dashboard]="dashboard"
      />

      <!-- CARD CARD CREDIT -->
      <app-card-card-credit
        class="col-span-10 sm:col-span-5 md:col-span-6 order-7 md:order-7 lg:order-7 lg:col-span-4"
      />

      <!-- CARD PORCENT CATEGORY -->
      <app-card-porcent-category
        class="col-span-10 sm:col-span-5 md:col-span-6 order-6 md:order-6 lg:order-6 lg:col-span-3"
        [form]="form"
      />

    </section>
  </div>
</main>
