<main class="w-full min-h-dvh grid grid-cols-1 md:grid-cols-2 bg-secondary dark:bg-dark-secondary">
  <div class="absolute top-0 right-0">
    <toggle-theme />
  </div>

  <figure class="w-full h-dvh overflow-hidden hidden md:block">
    <img class="w-full h-dvh object-cover rotate-12 scale-125" src="../../../assets/images/realistic-blur-background-store-department-store-supermarket-grocery-store-ai-generated-image 2.png" alt="">
  </figure>

  <form class="w-full flex flex-col justify-center items-center"
    (ngSubmit)="handleFormSubmit()" [formGroup]="form"
  >
    <div class="w-full max-w-80">
      <h1 class="w-full text-label dark:text-dark-label text-center text-4xl font-bold mb-4"> Registrar </h1>

      <div class="form-input">
        <label for="name"> Nome </label>
        <div class="input_icon">
          <input
            type="text"
            id="name"
            placeholder="Nome"
            formControlName="name"
          />
        </div>
      </div>

      <div class="form-input my-4">
        <label for="email"> E-mail </label>
        <div class="input_icon">
          <input
            type="text"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
      </div>

      <div class="form-input flex">
        <label for="password"> Senha </label>
        <div class="input_icon">
          <input [type]="showPassword() ? 'text' : 'password'" id="password" placeholder="Senha" formControlName="password" autocomplete="password">

          <i [icon]="showPassword() ? 'eye' : 'eye_slash'" (click)="showPassword.set(!showPassword())"></i>
        </div>
      </div>

      <div class="form-input flex my-4">
        <label for="confirm_password"> Confirmar Senha </label>
        <div class="input_icon">
          <input [type]="showConfirm() ? 'text' : 'password'" id="confirm_password" placeholder="Senha" formControlName="confirm_password" autocomplete="password">

          <i [icon]="showConfirm() ? 'eye' : 'eye_slash'" (click)="showConfirm.set(!showConfirm())"></i>
        </div>
      </div>


      <div class="buttons">
        <button mat-flat-button color="primary" [disabled]="form.invalid"  [loading]="loading()"> Cadastrar </button>
      </div>
    </div>

    <div class="w-full max-w-80 h-px bg-DarkGray mt-6 mb-5"></div>

    <div class="flex justify-center items-center">
      <p class="m-0 text-sm text-label dark:text-dark-label mr-1"> Já tem uma conta?</p>
      <a class="m-0 text-sm text-label dark:text-dark-label font-extrabold cursor-pointer" routerLink="/login"> Fazer login </a>
    </div>
  </form>

  <p class="fixed bottom-0 right-0 text-black dark:text-dark-White opacity-10 text-xs m-2"> v{{ version }} </p>
</main>
