<nav id="top-navbar" class="fixed top-0 px-6 z-50 w-full bg-tertiary dark:bg-dark-tertiary">
  <div class="container mx-auto">
    <div
      class="flex flex-wrap items-center justify-between py-2 md:flex-nowrap"
    >
      <a role="button" routerLink="/" class="h-9 mr-6">
        <img src="../../../assets/logo_marca.png" alt="Logo" class="size-full object-contain" />
      </a>

      <div class="flex ml-auto md:hidden">
        <button
          mat-icon-button
          class="my-0 ml-auto mr-0 text-label dark:text-dark-label transition {{
            isMenuOpen() ? 'rotate-90' : ''
          }}"
          (click)="toggleMenuOpened()"
        >
          <i [icon]="isMenuOpen() ? 'xmark' : 'bars'"></i>
        </button>
      </div>

      @if(!loading() && user){
        <div class="relative flex md:hidden cursor-pointer items-center"  [matMenuTriggerFor]="beforeMenu">
          <avatar [name]="user.name" class="text-xs" color="light" bg="#55b02e" />
          <toggle-theme />
        </div>
      }

      <div
        #menuContainer
        class="w-full overflow-hidden transition-all flex items-center {{
            isMenuOpen() ? 'justify-center' : ''
          }}"
        [ngStyle]="{
          height: scrollHeightMenuContainer(),
        }"
      >
        <ul
          class="m-0 flex list-none flex-col gap-x-4 p-0 pt-2 md:flex-row md:items-center md:justify-end md:pt-0"
          (click)="onResize()"
          (keydown)="onResize()"
          tabindex="-1"
        >
        @for (item of navbars; track $index) {
          <li>
            <a
              mat-button
              [routerLink]="item.router"
              routerLinkActive="active"
              class="w-full"
            >
              {{ item.label }}
            </a>
          </li>
        }
        </ul>
      </div>

      @if(!loading() && user){
        <div class="relative ml-auto hidden md:flex items-center gap-3 border border-solid border-DarkGray dark:border-dark-DarkGray px-5 pr-2 py-2 rounded-lg cursor-pointer"
          [matMenuTriggerFor]="beforeMenu">
          <p class="w-max text-label dark:text-dark-label text-sm"> {{ user.name }} </p>

          <avatar [name]="user.name" class="text-xs" color="light" bg="#55b02e" />
        </div>
      }
      <div class="hidden md:flex">
        <toggle-theme />
      </div>

    </div>
  </div>
</nav>

<mat-menu #beforeMenu="matMenu" xPosition="before">
  <a mat-menu-item class="py-1" routerLink="/profile"> Perfil </a>
  <a mat-menu-item class="py-1" routerLink="/account"> Contas </a>
  <a mat-menu-item class="py-1" routerLink="/category"> Categorias </a>
  <!-- <a mat-menu-item class="py-1" routerLink="/settings"> Configuração </a> -->
  <br>
  <button mat-menu-item class="py-1"(click)="logout()"> Logof </button>
</mat-menu>

@if (!loading()) {
  <div class="relative w-full min-h-dvh pt-20 pb-10 bg-tertiary dark:bg-dark-tertiary px-6">
    <router-outlet />
  </div>
}

@if (loading()) {
  <!-- <page-loading /> -->
}
