@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  @apply border border-x-0 border-t-0 border-solid border-DarkGray dark:border-dark-DarkGray;

  ul{

    li{
      a{
        @apply text-Gray text-sm font-semibold;

        &.active{
          @apply text-primary;
        }
      }
    }

  }

  avatar {
    @apply w-full flex max-w-7 h-7 rounded-full;
    box-shadow: 0px 2px 8px #0000003b;
  }
}

::ng-deep {
  .mat-mdc-menu-panel{
    min-width: 150px !important;
    border: 1px solid #1f1f21 !important;
    background-color: #141414 !important; /* Fundo branco */
    border-radius: 0.5rem !important;
    margin-top: .5rem !important;
  }

  .mat-mdc-menu-panel {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 8px 0; /* Espaçamento interno */
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  .mat-mdc-menu-content{
    padding: 0 !important; /* Remove o padding padrão */
  }

  .mat-mdc-menu-item{
    min-height: 20px !important;
  }

  .mat-mdc-menu-item {
    color: #333; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento personalizado */
    transition: background-color 0.2s ease;
  }

  .mat-mdc-menu-item-text{
    font-size: 14px !important; /* Ajusta o tamanho do texto */
    text-align: center !important;
    font-weight: 600  !important;
    line-height: 1.25rem  !important;
    color: #fff !important;
    padding: .2rem .5rem !important;
  }
}
