@if(loading()) {
<div class="card bg-tertiary dark:bg-dark-tertiary border border-solid border-Gray dark:border-dark-Gray rounded-default p-3 md:p-5">
  <app-loading-cards [type]="'CARD'" />
</div>
}
@else {
<div class="card bg-tertiary dark:bg-dark-tertiary border border-solid border-Gray dark:border-dark-Gray rounded-default p-3 md:p-5">
  <h1 class="w-full text-black dark:text-white text-base font-semibold"> Gastos por categoria </h1>
  <div class="w-full h-px bg-White8 my-4"></div>


  @for (category of category_percentages; track $index){
    <div class="py-2">
      <div class="flex justify-between items-center">
        <p class="text-black dark:text-white text-xs font-semibold"> {{ category.name }} </p>

        <p class="text-black dark:text-white text-xs font-semibold"> {{ category.percentage }}% </p>
      </div>

      <mat-progress-bar mode="determinate" class="my-1" [value]="category.percentage"></mat-progress-bar>

      <p class="text-black dark:text-white text-xs opacity-30"> {{ category.total_spent | hiddenValue }} </p>
    </div>
  }
</div>
}
