@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons{
  @apply flex justify-between items-center gap-2
}

.mat-mdc-button-base,
.mat-mdc-unelevated-button {
  --mdc-filled-button-container-shape: 12px;
  @apply w-full text-sm;

  &.mat-primary{
    --mdc-filled-button-container-color: #55b02e !important;
    --mdc-filled-button-label-text-color: #fff !important;

    @apply bg-primary;

    &.mat-mdc-button-disabled {
      --mdc-filled-button-disabled-label-text-color: #fff !important;
      --mdc-filled-button-disabled-container-color: #55b02e !important;
      --mat-full-pseudo-checkbox-selected-icon-color: #55b02e !important;
    }

    &:disabled{
      @apply opacity-40 ;
    }
  }

  &.mat-accent{
    --mdc-filled-button-container-color: #1f1f21 !important;
    --mdc-filled-button-label-text-color: #fff !important;

    @apply bg-primary;

    &.mat-mdc-button-disabled {
      --mdc-filled-button-disabled-label-text-color: #fff !important;
      --mdc-filled-button-disabled-container-color: #1f1f21 !important;
      --mat-full-pseudo-checkbox-selected-icon-color: #1f1f21 !important;
    }

    &:disabled{
      @apply opacity-40 ;
    }
  }

  &:disabled{
    @apply opacity-40 ;
  }
}
