<main>
  <div class="container mx-auto">
    <header class="w-full flex justify-between">
      <h1 class="text-2xl font-bold text-label dark:text-dark-label"> Calendario </h1>

      <button mat-flat-button color="primary" class="!w-max" (click)="detailFinance()"> <span class="hidden sm:block">Adicionar Transação</span> <i icon="arrow_up_arrow_down"></i> </button>
    </header>

    <form [formGroup]="form" class="flex w-full items-center justify-between flex-wrap mt-4 sm:mt-2">
      <div class="order-2 sm:order-1 buttons flex w-max items-center justify-center">
        <button mat-button class="primary !text-label dark:!text-dark-label" (click)="viewToday()"> Hoje </button>
        <button mat-icon-button (click)="monthChange('previous')">
          <i icon="angle_left" class="!text-label dark:!text-dark-label"></i>
        </button>
        <button mat-icon-button (click)="monthChange('next')">
          <i icon="angle_right" class="!text-label dark:!text-dark-label"></i>
        </button>
      </div>

      <p class="order-1 sm:order-2 flex w-full sm:w-max items-center justify-center gap-2 text-xl font-semibold text-label dark:text-dark-label"
        ><span class="capitalize">{{ full_selected | date: 'MMMM' }}</span>
        <span>de</span>
       <span> {{ full_selected | date: 'yyyy' }}</span>
      </p>

      <div class="order-3 form-input max-w-32">
        <mat-select
          class="w-full"
          formControlName="viewMode"
          (selectionChange)="setViewCalendar(form.value.viewMode)"
        >
          <mat-option value="dayGridMonth">Mês</mat-option>
          <mat-option value="timeGridWeek">Semana</mat-option>
          <mat-option value="timeGridDay">Dia</mat-option>
          <mat-option value="listWeek">Lista</mat-option>
        </mat-select>
      </div>
    </form>

    <div class="w-full grid lg:grid-cols-10 gap-4">
      <div class="w-full col-span-2 aspect-square hidden lg:block">
        @if(refresh()){
          <mat-calendar
            #calendarRef
            class="w-full"
            [(selected)]="selected"
            (selectedChange)="onDateSelected($event)"
            (click)="onDateChanged($event)"
          ></mat-calendar>
        }
      </div>

      <div class="w-full lg:col-span-8">
        <full-calendar
          #calendar
          class="w-full"
          [options]="calendarOptions"
          [events]="listEvent"
        ></full-calendar>
      </div>
    </div>
  </div>
</main>
