<main class="w-full min-h-dvh grid grid-cols-1 md:grid-cols-2 bg-secondary">
  <figure class="w-full h-dvh overflow-hidden hidden md:block">
    <img class="w-full h-dvh object-cover rotate-12 scale-125" src="../../../assets/images/realistic-blur-background-store-department-store-supermarket-grocery-store-ai-generated-image 2.png" alt="">
  </figure>

  <form class="w-full flex flex-col justify-center items-center"
    (ngSubmit)="handleFormSubmit()" [formGroup]="form"
  >
    <div class="w-full max-w-80 flex flex-col">
      <h1 class="w-full text-label text-center text-4xl font-bold mb-4"> Login </h1>

      <div class="form-input">
        <label for="email"> E-mail </label>
        <div class="input_icon">
          <input
            type="email"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
      </div>

      <div class="form-input flex my-4 mb-0">
        <label for="password"> Senha </label>
        <div class="input_icon">
          <input type="password" placeholder="Senha" formControlName="password" autocomplete="password">
        </div>
      </div>

      <a class="w-max ml-auto text-right text-xs text-white font-light">esqueceu a senha?</a>

      <div class="mb-6 flex items-center justify-between mt-4">
        <mat-checkbox formControlName="remember" color="primary" class="text-sm text-label">
          Lembrar-me
        </mat-checkbox>

        <!-- <button mat-button (click)="handleForgotPasswordButton()" class="text-sm text-label">
          Esqueceu a senha?
        </button> -->
      </div>

      <div class="buttons">
        <button mat-flat-button color="primary" [disabled]="form.invalid"  [loading]="loading()"> Entrar </button>
      </div>
    </div>

    <div class="w-full max-w-80 h-px bg-DarkGray mt-6 mb-5"></div>

    <div class="flex justify-center items-center">
      <p class="m-0 text-sm text-label mr-1"> Não tem uma conta?</p>
      <a class="m-0 text-sm text-label font-extrabold cursor-pointer" routerLink="/register"> Criar conta </a>
    </div>
  </form>

  <p class="fixed bottom-0 right-0 text-White opacity-10 text-xs m-2"> v{{ version }} </p>
</main>
