<main>
  <div class="container mx-auto">
    <header class="w-full flex justify-between flex-wrap items-center gap-4">
      <h1 class="w-full sm:w-max text-2xl font-bold text-label"> Perfil </h1>
    </header>

    <section class="w-full mt-4 flex flex-col justify-center items-center gap-3">
      <avatar [name]="user.name" class="size-32 text-2xl" color="light" bg="#55b02e" />

      <div class="w-full flex justify-center items-center gap-4 mt-8">
        <p class="text-white font-lg"> Visão Geral</p>
        <p class="text-white font-lg"> Plano </p>
        <p class="text-white font-lg"> Configurações </p>
      </div>
    </section>
  </div>
</main>
