@use '@angular/material' as mat;

@include mat.core();

$financee-web-primary: mat.define-palette(mat.$indigo-palette);
$financee-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$financee-web-warn: mat.define-palette(mat.$red-palette);

$financee-web-theme: mat.define-light-theme((
  color: (
    primary: $financee-web-primary,
    accent: $financee-web-accent,
    warn: $financee-web-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($financee-web-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';
@import 'assets/styles/_button.scss';
@import 'assets/styles/_calendar.scss';
@import 'assets/styles/_dialog.scss';
@import 'assets/styles/_input.scss';
@import 'assets/styles/_mat-checkbox.scss';
@import 'assets/styles/_progress-bar.scss';
@import 'assets/styles/_scroll.scss';
@import 'assets/styles/_slide-toggle.scss';
@import 'assets/styles/_tab-group.scss' ;
@import 'assets/styles/_table.scss';
@import 'assets/styles/fw2svg.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Mulish', sans-serif !important;
  background-color: var(--secund-bg);
}

html,
body {
  height: 100%;

  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  @apply w-full md:w-11/12 px-2 md:px-0 max-w-7xl mx-auto #{!important};
}
