@use '@angular/material' as mat;

@include mat.core();

$financee-web-primary: mat.define-palette(mat.$indigo-palette);
$financee-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$financee-web-warn: mat.define-palette(mat.$red-palette);

$financee-web-theme: mat.define-light-theme(
  (
    color: (
      primary: $financee-web-primary,
      accent: $financee-web-accent,
      warn: $financee-web-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($financee-web-theme);

@import 'styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif !important;
}

html,
body {
  height: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  background-color: var(--secund-bg);
}
