@tailwind base;
@tailwind components;
@tailwind utilities;


.notPaid{
  @apply bg-Red8 border-Red rounded-lg p-1 #{!important};
}

// ? calendar angular
.mat-calendar-body-label {
  @apply opacity-0;
}

.mat-calendar-controls {
  @apply opacity-0 hidden #{!important};
}

.mat-calendar-body-today,
.mat-calendar-body-selected {
  --mat-datepicker-calendar-date-selected-state-text-color: #fff !important;
}

.mat-mdc-button-base.mdc-button .mdc-button__label {
  align-items: center;
}

.mat-calendar-period-button.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base {
  @apply hidden #{!important};
}

.mat-calendar-body-selected {
  @apply text-label bg-primary8;
  /* background-color: rgba(226, 182, 51, 0.5); */
  /* color: var(--text-color); */
}

.mat-calendar-body-today {
  @apply bg-primary;
  /* background-color: #e2b533; */
  box-shadow: inset 0 0 0 1px
    var(--mat-datepicker-calendar-date-today-selected-state-outline-color);
}

// ? full calendar
.fc .fc-view-harness {
  // max-height: 70vh;
  min-height: calc(100vh - 32px - 75px - 3rem);
  max-height: calc(100vh - 32rem - 2rem);
}

.fc .fc-toolbar.fc-header-toolbar {
  display: none;
}

.fc .fc-toolbar-title {
  text-transform: capitalize;
}

.fc .fc-col-header-cell-cushion {
  @apply text-label;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 10px;
}

.fc .fc-scrollgrid-section-body table {
  @apply border-none;
}

.fc-theme-standard th {
  @apply border-none;
}

.fc-theme-standard td {
  @apply border-none;
}

.fc-theme-standard .fc-scrollgrid {
  @apply border-none;
}

.fc .fc-highlight{
  @apply bg-White8 rounded-2xl;
}

.fc .fc-daygrid-day-frame {
  @apply p-1 border-4 border-solid border-tertiary  rounded-2xl shadow-border transition-all;

  /* &:hover{
    @apply bg-White8;
  } */
}

.fc-day-other {
  opacity: 0.3;

  .fc-daygrid-day-frame {
    .fc-daygrid-day-top {
      a {
        cursor: default !important;
      }
    }
  }
}

.fc .fc-daygrid-event {
  position: relative;
  border-left: 10px solid transparent;
  padding: 5px 0;
  cursor: pointer;

  .fc-daygrid-event-dot {
    position: absolute;
    left: -10px;
    height: calc(100% - 10px);
    // width: calc(100% - 7px);
    margin: 0px;
    background-color: var(--fc-event-border-color);
    z-index: 1;
  }

  .fc-event-time,
  .fc-event-title {
    position: relative;
    z-index: 5;
  }
}

.fc .fc-daygrid-day-top {
  justify-content: left;
  margin-bottom: 10px;

  a {
    @apply text-label;

    width: 30px;
    height: 30px;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    line-height: normal;
    border-radius: 50%;
    aspect-ratio: 1/1;
    line-height: 1;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      text-decoration: auto;
      font-style: 600;
    }
  }
}

.fc-day-today {
  .fc-daygrid-day-top {
    background-color: transparent;
    @apply text-primary font-bold;

    .fc-daygrid-day-number {
      @apply text-primary font-bold;
      /* background-color: var(--light-brown-color); */
      /* color: var(--primary-bg); */
    }
  }
}

.fc-daygrid-block-event .fc-event-time,
.fc-daygrid-dot-event .fc-event-title {
  font-weight: 400;
}

.fc-daygrid-event-harness {
  a {
    background-color: transparent;
    @apply text-label;
    /* color: var(--text-color); */
  }
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-primary8 rounded-2xl;

  /* background-color: transparent; */
}
// Style WEEK
.fc .fc-timegrid-slot-minor {
  border-top-style: hidden;
}
