@tailwind base;
@tailwind components;
@tailwind utilities;


.mdc-checkbox:hover .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox:hover .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-color: #1f1f21;
  --mdc-checkbox-selected-hover-icon-color: transparent;
}

.mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  --mdc-checkbox-unselected-hover-icon-color: #1f1f21;
  background-color: transparent;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
  --mdc-checkbox-selected-icon-color: #55b02e;
  --mdc-checkbox-selected-icon-color: transparent;
  --mdc-checkbox-unselected-icon-color: #55b02e;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:focus:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:indeterminate~.mdc-checkbox__background {
  --mdc-checkbox-selected-focus-icon-color: transparent;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
  --mdc-checkbox-selected-checkmark-color: #55b02e;
}

.mat-mdc-checkbox {
  .mdc-form-field{
    label{
      @apply text-white;
    }
  }
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  --mdc-checkbox-unselected-icon-color: rgb(255 255 255 / 54%);
}
