@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-mdc-slide-toggle .mdc-switch:enabled+.mdc-label {
  @apply text-black dark:text-white ml-1;
}

.mdc-switch:enabled .mdc-switch__track::after {
  --mdc-switch-selected-track-color: rgba(85,176,46,.08);
}

.mdc-switch:enabled:hover:not(:focus):not(:active) .mdc-switch__track::after {
  --mdc-switch-selected-hover-track-color: rgba(85,176,46,.08) !important;
}

.mdc-switch:enabled:focus:not(:active) .mdc-switch__track::after {
  --mdc-switch-selected-focus-track-color: rgba(85,176,46,.08) !important;
}

.mdc-switch:enabled:active .mdc-switch__track::after {
  --mdc-switch-selected-pressed-track-color: rgba(85,176,46,.08) !important;
}
/* --- */

.mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  --mdc-switch-selected-handle-color: #55b02e;
}

.mdc-switch.mdc-switch--selected:enabled:hover:not(:focus):not(:active) .mdc-switch__handle::after {
  --mdc-switch-selected-hover-handle-color: #55b02e !important;
}

.mdc-switch.mdc-switch--selected:enabled:focus:not(:active) .mdc-switch__handle::after {
  --mdc-switch-selected-focus-handle-color: #55b02e;
}

.mdc-switch.mdc-switch--selected:enabled:active .mdc-switch__handle::after {
  --mdc-switch-selected-pressed-handle-color: #55b02e;
}
/* --- */


.mdc-switch.mdc-switch--selected:enabled:active .mdc-switch__ripple::after {
  --mdc-switch-selected-pressed-state-layer-color: #55b02e;
}
