@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  --mdc-tab-indicator-active-indicator-color: #55b02e !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  --mat-tab-header-active-label-text-color: #55b02e !important;
}

.mat-mdc-tab.mdc-tab--active{
  &:hover {
    .mdc-tab__text-label {
      --mat-tab-header-active-hover-label-text-color: #55b02e !important;
    }
    .mdc-tab-indicator__content--underline {
      --mat-tab-header-active-hover-indicator-color: #55b02e !important;
    }
  }
  &:focus{
    .mdc-tab__text-label {
      --mat-tab-header-active-focus-label-text-color: #55b02e !important;
    }
    .mdc-tab-indicator__content--underline {
      --mat-tab-header-active-focus-indicator-color: #55b02e !important;
    }
  }
}

.group-warn{
  .mat-mdc-tab .mdc-tab-indicator__content--underline {
    --mdc-tab-indicator-active-indicator-color: #f44336 !important;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    --mat-tab-header-active-label-text-color: #f44336 !important;
  }

  .mat-mdc-tab.mdc-tab--active{
    &:hover {
      .mdc-tab__text-label {
        --mat-tab-header-active-hover-label-text-color: #f44336 !important;
      }
      .mdc-tab-indicator__content--underline {
        --mat-tab-header-active-hover-indicator-color: #f44336 !important;
      }
    }
    &:focus{
      .mdc-tab__text-label {
        --mat-tab-header-active-focus-label-text-color: #f44336 !important;
      }
      .mdc-tab-indicator__content--underline {
        --mat-tab-header-active-focus-indicator-color: #f44336 !important;
      }
    }
  }
}

.mat-mdc-tab .mdc-tab__text-label {
  --mat-tab-header-inactive-label-text-color: #fff !important;
}

.mat-mdc-tab:hover .mdc-tab__text-label {
  --mat-tab-header-inactive-hover-label-text-color: #fff !important;
}

.mat-mdc-tab .mdc-tab__ripple::before{
  --mat-tab-header-inactive-ripple-color: transparent !important;
}

.mat-mdc-tab.mdc-tab--active {
  .mdc-tab__ripple::before,
  .mat-ripple-element {
    --mat-tab-header-active-ripple-color: transparent !important;
  }
}

.mdc-tab {
  min-width: 0 !important;
  padding-right: 0  !important;
  padding-left: 0 !important;
}

.mat-mdc-tab-header {
  --mdc-secondary-navigation-tab-container-height: 40px;
}


