@tailwind base;
@tailwind components;
@tailwind utilities;

.mdc-dialog__surface {
  overflow-y: hidden !important;
}

.container-tablet {
  overflow-x: auto;

  --mat-table-row-item-container-height: 55px;
  --mat-table-row-item-label-text-size: 14px;
  --mat-table-background-color: transparent;

  table {
    @apply w-full;
    /* border-spacing: 0 5px; */

    &.mat-table {
      @apply w-full bg-transparent;
    }

    thead {
      @apply rounded-t-xl bg-White3 dark:bg-dark-White3;

      /* background: transparent; */

      tr {
        @apply text-black dark:text-white font-extralight;

        height: 45px;
        background: transparent !important;

        th {
          @apply  bg-White3 dark:bg-dark-White3;

          &:first-child {
            @apply rounded-tl-xl;
          }

          &:last-child {
            @apply rounded-tr-xl;
          }
          &.mat-header-cell {
            color: var(--text-primary);
          }
        }

        th.mat-mdc-header-cell,
        th.mat-header-cell,
        td.mat-cell {
          padding: 0 0.7rem;
          border-bottom-width: 0;
        }

        th.mat-header-cell:first-of-type,
        th.mat-header-cell:last-of-type {
          padding: 0 1rem;
        }

        td.mat-cell:first-of-type,
        td.mat-cell:last-of-type {
          padding: 0 1rem;
        }

        th.mat-mdc-header-cell{
          @apply text-black dark:text-white;
        }
      }

    }

    tbody{
      @apply border border-solid border-White8 dark:border-dark-White8 ;
      border-radius: 0 var(--br) var(--br) 0;

      tr{
        @apply transition-all;

        /* &:hover{
          @apply bg-White8 rounded-none cursor-pointer;
        } */

        td {
          @apply text-black dark:text-white font-normal border-t border-solid border-White8 dark:border-dark-White8 ;

          font-weight: 500;
          border-bottom: none; // Remove a borda inferior padrão das células

          &.no_results {
            background-color: transparent;
            color: var(--label);
          }

          --br: 15px;

          /* &:first-child {
            border-radius: var(--br) 0 0 var(--br);
          }

          &:last-child {
            border-radius: 0 var(--br) var(--br) 0;
          } */

          span {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

          &.mat-column-description {
            @apply w-max;
          }

          &.cdk-column-options {
            width: max-content;

            .row-icons {
              display: flex;
              gap: 0.5rem;

              a {
                --mdc-icon-button-state-layer-size: 30px;
                font-size: 12px;
                padding: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }

          .no-data-container {
            width: 100%;

            p {
              width: 100%;
              text-align: center;
              opacity: 0.6;
              margin: 10px 0;
              color: var(--text-primary);
            }
          }
        }
      }
    }

  }

  .no_results {
    padding: 1rem 0 !important;
    /* border-radius: var(--br) !important; */
  }
}
