@if(loading()) {
<div class="card bg-tertiary dark:bg-dark-tertiary border border-solid border-Gray dark:border-dark-Gray rounded-default p-3 md:p-5">
  <app-loading-cards [type]="'CARD'" />
</div>
}
@else {
<div class="card bg-DarkGreen dark:bg-dark-DarkGreen border border-solid border-Gray dark:border-dark-Gray rounded-default p-3 md:p-5">
  <div class="flex justify-between items-center gap-3">
  <div class="w-max flex items-center gap-2">
    <div class="w-max aspect-square px-2 flex justify-center items-center rounded-md bg-white dark:bg-black text-black dark:text-white">
      <i icon="wallet"></i>
    </div>
    <h3 class="text-sm text-black dark:text-white opacity-70"> Saldo Atual </h3>
  </div>

  <button (click)="modeView()">
    <i [icon]="isVisible() ? 'eye' : 'eye_slash'" class="text-black dark:text-white text-sm lg:text-lg cursor-pointer p-1"></i>
  </button>

  </div>

  <div class="mt-3 flex justify-between items-center gap-4">
    <h1 class="text-black dark:text-white text-2xl lg:text-4xl font-semibold"> {{ dashboard.balance | hiddenValue }} </h1>

    <button mat-flat-button color="primary" class="w-max" (click)="createFinance()"> <span class="hidden sm:block">Adicionar Transação</span> <i icon="arrow_up_arrow_down"></i> </button>
  </div>
</div>
}
